@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap");

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background:fixed;
}

.Navegador {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  max-width: 30px;
  height: 30px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 0;
  padding: 0;
}

.Logo_Pagina {
  grid-column-start: 1;
  grid-column-end: 1;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.Nombre_Pagina {
  font-size: 2.5rem;
  font-weight: 600;
  grid-column-start: 2;
  grid-column-end: 4;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.Opciones_Rutas {
  grid-column-start: 4;
  grid-column-end: 7;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content:flex-end;
  justify-content: center;
}



.Logo_Pagina_img img {
  width: 50%;
  height: 50%;
  padding: 0 20px;
}

.Nombre_Pagina_Text_Defualt {
  color: #000000;
  font-size: 25px;
  font-weight: 500;
}

.Rutas_Navegacion_Listado {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
}

.Rutas_Navegacion_Listado a {
  color: rgb(0, 0, 0);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
}

#inicio{
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#materia{
  font-size: 16px;
  padding: 0.5rem;
  border-radius: 0.7rem;
  border: none;
  width: 9rem;
  height: 3rem;
  background-color: #0E47A1;
  color:white;
}
#lista{
  font-size: 16px;
  padding: 0.5rem;
  border-radius: 0.7rem;
  border: none;
  width: 8rem;
  height: 3rem;
  background-color: #0E47A1;
  color:white;
}
#configuracion{
  font-size: 16px;
  padding: 0.5rem;
  border-radius: 0.7rem;
  border: none;
  width: 8rem;
  height: 3rem;
  background-color: #0E47A1;
  color:white;
}

.Boton button {
  border-style: inherit;
  font-size: 20px;
  font-weight: 500;
}
