<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../menu/menu.component.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Navbar</title>
</head>
<body>
  <nav class="navbar">
    <div class="left">
        <img src="../../assets/menu/uv.png" alt="logo"/>
        <p class="namepage">SIAE</p>
    </div>
    <div class="right">
        <input type="checkbox" id="check">
        <label for="check" class="checkBtn">
            <i class="fa fa-bars"></i>
        </label>
        <ul class="list">
            <li><a href="Mostrar_materias">
              <button id="materia">
                Mostrar materias
              </button></a></li>

            <li><a href="Mostrar_lista">
              <button id="lista">
                Mostrar lista
              </button></a></li>
            
            <li><a href="Configuracion">
              <button id="config">
                Configuración
              </button></a></li>
            
            <li><a href="Inicio">
              <img src="../../assets/menu/home.png" alt="home" id="inicio">
            </a></li>
        </ul>
    </div>
</nav>
</body>
</html>
