<main class="Navegador">
  <section class="Logo_Pagina">
    <div class="Logo_Pagina_img">
      <img src="../../assets/menu/uv.png" alt="logo"/>
    </div>
  </section>

    <div class="Nombre_Pagina">
      SIAE 
    </div>

  <section class="Opciones_Rutas">
    <div class="Rutas_Navegacion_Contenedor">
      <nav class="Rutas_Navegacion_Listado">
        
        <a href="Inicio"><button id="materia">Mostrar materias</button></a>
        <a href="Inicio"><button id="lista">Mostrar lista</button></a>
        <a href="Configuracion"><button id="configuracion">Configuración</button></a>
        <a href="Inicio"><img src="../../assets/menu/home.png" alt="home" id="inicio"></a>
      </nav>
    </div>
  </section>
</main>
