<main class="Navegador">
  <section class="Logo_Pagina">
    <div class="Logo_Pagina_img">
      <img src="../../assets/menu/uv.png" alt="logo" />
    </div>
  </section>

  <section class="Nombre_Pagina">
    <div class="Nombre_Pagina_Text_Defualt">
      SIAE 
    </div>
  </section>

  <section class="Opciones_Rutas">
    <div class="Rutas_Navegacion_Contenedor">
      <nav class="Rutas_Navegacion_Listado">
        <a href="Inicio"><button id="inicio">Inicio</button></a>
        <a href="Inicio"><button id="inicio">Lista</button></a>
        <a href="Inicio"><button id="inicio">Materias</button></a>
        <a href="Configuracion"><button id="configuracion">Configuración</button></a>
      </nav>
    </div>
  </section>

  <section class="Cuenta">
    <div class="Boton">
      <button (click)="onSubmit()">
        <div class="Boton_Prender" *ngIf="valor_Camara == true">Encendido</div>
        <div class="Boton_Apagar" *ngIf="valor_Camara == false">Apagado</div>
      </button>
    </div>
  </section>
</main>
