body {
  background-color: #fff;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

#Contenedor {
  position: static;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 140px 4fr;
  width: 100%;
  height: 100vh;
}

#Navegacion {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 7;
  /* background-color: rgba(30, 136, 229, 0.8); */
  max-height: 120px;
}

#Informacion_Docente {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 7;

  width: 100%;
  height: 100%;
}

#Pantalla_Informacion {
  position: relative;
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 7;

  width: 100%;
  height: 100%;
  padding:0 30px;
}
